---
http_interactions:
- request:
    method: post
    uri: https://api.pushbullet.com/v2/pushes
    body:
      encoding: UTF-8
      string: body=hoge+uses+301MB+today%21&email=xxx&title=A+notice+from+Be+Moderate&type=note
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '16384'
      X-Ratelimit-Remaining:
      - '16384'
      X-Ratelimit-Reset:
      - '1497480639'
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - f4a21cb3688395920e48d06341ed4a03
    body:
      encoding: UTF-8
      string: '{"active":true,"iden":"xxx","created":1.4974793282975056e+09,"modified":1.4974793285813675e+09,"type":"note","dismissed":false,"direction":"self","sender_iden":"xxx","sender_email":"xxx","sender_email_normalized":"xxx","sender_name":"xxx","receiver_iden":"xxx","receiver_email":"xxx","receiver_email_normalized":"xxx","title":"A
        notice from Be Moderate","body":"hoge uses 301MB today!"}'
  recorded_at: Wed, 14 Jun 2017 22:28:48 GMT
recorded_with: VCR 3.0.3
