---
http_interactions:
- request:
    method: get
    uri: https://api.iijmio.jp/mobile/d/v2/log/packet/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Iijmio-Developer:
      - "<CENSORED/>"
      X-Iijmio-Authorization:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"packetLogInfo": [{"hddServiceCode": "hdd11111111111", "hdoInfo": [{"hdoServiceCode":
        "hdo1111111111", "packetLog": [{"date": "20171205", "withCoupon": 0, "withoutCoupon":
        0}, {"date": "20171206", "withCoupon": 1, "withoutCoupon": 0}, {"date": "20171207",
        "withCoupon": 97, "withoutCoupon": 0}, {"date": "20171208", "withCoupon":
        96, "withoutCoupon": 0}, {"date": "20171209", "withCoupon": 58, "withoutCoupon":
        0}, {"date": "20171210", "withCoupon": 27, "withoutCoupon": 0}, {"date": "20171211",
        "withCoupon": 136, "withoutCoupon": 0}, {"date": "20171212", "withCoupon":
        39, "withoutCoupon": 0}, {"date": "20171213", "withC[...]
